nav{
    float:right;
    background-color: black;
    width: 100%;
}

nav ul{

    margin:0;
    padding:0;
    list-style: none;
}

nav li{
    display: inline-block;
    margin-left:70px;
    padding-top:40px;
    
    position: relative;
}

nav a:visited{
   color:white;
}

nav a{
    color:rgb(24, 165, 190);
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover{
    color:orange;
}

nav a:before{
    content: '';
    display:block;
    height: 5px;
    background-color: rgb(24, 165, 190);
    position:absolute;
    top:0;
    width:0%;
    transition: all ease-in-out 250ms;

}
nav a:hover::before{
    width:100%;
}